<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>wssp</string>
	<key>description</key>
	<string>TextMate bundle for CommuniGate Pro WSSP</string>
	<key>uuid</key>
	<string>b12e11eb-c5eb-424d-9415-962f61b28917</string>
</dict>
</plist>
